<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% block head %}
  <title>{% block title %}Little Bears Pre-School{% endblock %}</title>
  <link rel="DNS-prefetch" href="//fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Darumadrop+One:regular,400&display=swap">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  <link rel="stylesheet"
        href="{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}?cb=1">
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin="">
  <meta name="viewport" content="initial-scale = 1">
  <link rel="icon" href="{{ THEME_STATIC_DIR }}/images/favicon.ico" sizes="32x32">
  <link rel="icon" href="{{ THEME_STATIC_DIR }}/images/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ THEME_STATIC_DIR }}/images/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="manifest" href="{{ THEME_STATIC_DIR }}/manifest.webmanifest">
  <link rel="canonical" href="https://little-bears.com/{{ page.slug if page and page.slug != "home" else "" }}">
  {% endblock %}
</head>
<body>
  <header class="site-header">
    <div>
      <a class="logo" href="index.html">Home</a>
      <nav class="site-nav" tabindex="0">
        <div class="button" tabindex="0"><div></div></div>
        <ul>
          {% for link_name, link_slug in {
            "Home": "home",
            "About Us": "about-us",
            "Policies": "policies",
            "Admissions": "admissions",
            "Contact": "contact",
          }.items() %}
          {% set is_current_page = page and page.slug == link_slug %}
          <li>
            {%- if is_current_page -%}
            <span class="nav-item">{{ link_name }}</span>
            {%- else -%}
            <a class="nav-item" href="{{ '/' if link_slug == 'home' else link_slug }}">{{ link_name }}</a>
            {%- endif -%}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </header>
  <!--div class="banner">
    <p>
      We are fully subscribed for the Autumn term
    </p>
</div-->
  <main class="{{ page and page.slug }}">
{% block content %}{% endblock %}
    <ul class="gallery">
      {% for i in range(4) %}
      <li><img alt="" loading="lazy" src="images/{{ "gallery-thumbnail-" ~ page.slug ~ "-" ~ loop.index ~ ".jpg" if page else "placeholder.png" }}"></li>
      {% endfor %}
    </ul>
  </main>
  <footer class="site-footer">
    <address>
      <div>
        Little Bears Pre-School<br>
        Cratlands Close<br>
        Stadhampton<br>
        Oxfordshire OX44 7XL
      </div>
      <div>
          <a href="contact">Contact Us</a><br>
        Tel: <a href="tel:01865400033">01865 400 033</a><br>
        (Mon - Fri 9am - 3pm)<br>
        Email: <a href="mailto:hello@little-bears.com">hello@little-bears.com</a>
      </div>
    </address>
  </footer>
</body>
</html>
